<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ditec.RIS.RFO.Bll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ditec.RIS.RFO.Bll.Properties.Settings>
            <setting name="Ditec_RIS_RFO_Bll_PoskytnutieZoznamuIFOPodlaVyhladavacichKriteriiWeb_PoskytnutieZoznamuIFOPodlaVyhladavacichKriterii_v1_0_ep"
                serializeAs="String">
                <value>http://ihs:80/soa-infra/services/RFO/RFO.NEZEP.WS!1.0.000075*soa_b79b1bac-81d0-49d1-9f20-fdf489b2fb84/PoskytnutieZoznamuIFOPodlaVyhladavacichKriterii_v1_0_ep</value>
            </setting>
            <setting name="Ditec_RIS_RFO_Bll_PoskytnutieUdajovIFOOnlineWeb_PoskytnutieUdajovIFOOnline_v1_0_ep"
                serializeAs="String">
                <value>http://ihs:80/soa-infra/services/RFO/RFO.NEZEP.WS!1.0.000075*soa_b79b1bac-81d0-49d1-9f20-fdf489b2fb84/PoskytnutieUdajovIFOOnline_v1_0_ep</value>
            </setting>
            <setting name="Ditec_RIS_RFO_Bll_ZapisNovychOsobWS_ZapisNovychOsob_v1_0_ep"
                serializeAs="String">
                <value>http://ihs:80/soa-infra/services/RFO/RFO.NEZEP.WS!1.0.000076*soa_9fadc38d-fa8c-4ed2-9dd6-6c0b421a2cbf/ZapisNovychOsob_v1_0_ep</value>
            </setting>
            <setting name="Ditec_RIS_RFO_Bll_ZapisUpravyMenaWeb_ZapisUpravyMena_v1_0_ep"
                serializeAs="String">
                <value>http://ihs:80/soa-infra/services/RFO/RFO.NEZEP.WS!1.0.000076*soa_9fadc38d-fa8c-4ed2-9dd6-6c0b421a2cbf/ZapisUpravyMena_v1_0_ep</value>
            </setting>
            <setting name="Ditec_RIS_RFO_Bll_ZapisUpravyPriezviskaWeb_ZapisUpravyPriezviska_v1_0_ep"
                serializeAs="String">
                <value>http://ihs:80/soa-infra/services/RFO/RFO.NEZEP.WS!1.0.000076*soa_9fadc38d-fa8c-4ed2-9dd6-6c0b421a2cbf/ZapisUpravyPriezviska_v1_0_ep</value>
            </setting>
        </Ditec.RIS.RFO.Bll.Properties.Settings>
    </applicationSettings>
</configuration>
