<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRfoService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/RIS.Svc.Wcf/Rfo.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRfoService"
                contract="RfoServiceReference.IRfoService" name="WSHttpBinding_IRfoService" />
        </client>
    </system.serviceModel>
</configuration>